.new-collections{
    max-width: 100%;
} 

.collections{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-left: 100px;
    gap: 4rem;
} 

.collections img{
    width: 250px;
    height: 150px;
    aspect-ratio: 3/2;
    box-shadow: 4px 7px 7px 0px #00000042;
    border-radius: 5px;
    cursor: pointer;

}


