.container{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.card{
    top: 20%;
    margin: 30px 30px;
    cursor: pointer;
   
}

img{
    aspect-ratio: 3/2;
    height: 45vh;  
    cursor: pointer;
}



.white{
    text-align: center;
    color: rgb(212, 212, 212);
}

.card-body{
    background: #5a5a5a;
}

.head h1{
    text-align: center;
    color: aliceblue;
    font-size: 3rem;
}

form{
    width: 38%;
    margin-left: 30%;
    margin-top: 8%;
}
    
.btn{
    width: 100px;
    margin-left: 45%;
    margin-top: 4%;
}