body {
  background: #c7c8cc;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

@media(max-width: 500px) {
  .app {
    padding: 2rem 1rem;
  }

  .form {
    margin-left: 50px;
    width: 70%;
  }

  .container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }
  

  .btn {
    margin-left: 110px;
    margin-top: 20px;
    width: 35%;
  }

  .form input {
    font-size: 1rem;
  }

  .card img {
    width: 270px;
    height: 270px;
  }

}

/* @media(max-width: 1180px) {
  .app {
    padding: 2rem 1rem;
    margin-right: 11rem;
  }

  .form {
    margin-left: 10em;
    width: 80%;
  }

  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  

  .btn {
    margin-left: 20em;
    margin-top: 20px;
    width: 18%;
  }

  .form input {
    font-size: 1.5rem;
  }

  .card img {
    width: 270px;
    height: 270px;
  }

 

} */